@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../../public/fonts/SergoeUI/Segoe\ UI\ Bold.woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../../../public/fonts/SergoeUI/Segoe\ UI\ Italic.woff");
}

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../../public/fonts/SergoeUI/Segoe\ UI.woff");
}

@font-face {
  font-family: "Segoe UI Light";
  font-style: normal;
  font-weight: lighter;
  src: url("../../../public/fonts/SergoeUI/Segoe\ UI.woff");
}

@font-face {
  font-family: "Dubai Light";
  font-style: normal;
  font-weight: lighter;
  src: url("../../../public/fonts/dubai/DubaiW23-Light.ttf");
}

@font-face {
  font-family: "Dubai Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../../public/fonts/dubai/DubaiW23-Regular.ttf");
}
