.test_progress {
  width: 95%;
  margin: 4rem auto;
  margin-top: 8rem;

  .bar_w_borders {
    display: flex;
    align-items: center;
    height: 3rem;

    .border {
      height: 100%;
      width: 1px;
      background-color: #707070;
    }

    .bar {
      width: 100%;
      height: 100%;
      position: relative;

      .bg {
        position: absolute;
        background-color: #707070;
        height: 1px;
        width: 100%;
        top: 50%;
      }

      .bar_completed {
        position: absolute;
        height: 1rem;
        background-color: #8358e8;
        box-shadow: 0 0 10px #8358e8;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .labels {
    width: 100%;
    display: flex;
    align-items: center;
    place-content: space-between;
    position: relative;
    margin-top: 1.5rem;

    .label {
      position: absolute;
      text-align: center;
      width: fit-content;

      p {
        font-weight: 500;
        color: #7b7b7b;
      }

      .small {
        font-size: 0.9rem;
      }
    }

    .start {
      left: -6.4%;
    }

    .mid {
      left: 47%;
    }

    .end {
      left: 96.5%;
    }
  }
}
