.card {
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 9rem;
  width: 17rem;
  position: relative;
  transition: 0.2s ease-in-out;
  border: 1px solid transparent;
  user-select: none;
  cursor: pointer;

  h4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #343434;
  }

  p {
    position: absolute;
    bottom: 1rem;
    font-weight: 500;
    color: #a7a7a7;
    font-size: 0.9rem;
  }
}
