.purchase {
  background-color: #eeeeee;

  .top {
    text-align: center;
    padding: 2rem;
    color: white;
    z-index: 3;

    img {
      position: absolute;
      left: -6rem;
      top: -14rem;
      z-index: 0;
    }

    .text {
      position: relative;
      z-index: 3;

      margin-top: 5rem;
      h1 {
        font-size: 3rem;
        margin: 1rem 0;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .main {
    padding: 2rem;
    padding-top: 6rem;

    h2 {
      font-weight: bold;
      font-size: 2.2rem;
    }

    .payment_row {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      place-content: space-between;

      .details {
        background-color: white;
        padding: 2rem 1rem 2rem 4rem;
        width: 68%;

        .payment_details,
        .order_summary {
          padding-bottom: 4rem;
          position: relative;
          border-left: 3px solid rgba(131, 88, 232, 0.45);

          .card_img,
          .order_summary_img {
            padding: 1rem;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-50%, -20%);
            background-color: #8358e8;
            width: 2rem;
            height: 2rem;
            box-shadow: rgba(131, 88, 232, 0.5) 0px 3px 24px;
          }

          .payment_details_main,
          .order_summary_main {
            padding-left: 3rem;

            h3 {
              color: #343434;
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
        }

        .payment_details {
          .payment_details_main {
            .inputs {
              margin-top: 3rem;
              display: flex;
              align-items: center;

              .input {
                display: flex;
                align-items: center;
                label {
                  user-select: none;
                  cursor: pointer;
                  margin-right: 1rem;
                  margin-left: 0.5rem;
                  font-weight: 500;
                }

                input {
                  cursor: pointer;
                }

                input[type="radio"] {
                  /* remove standard background appearance */
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  /* create custom radiobutton appearance */
                  width: 20px;
                  height: 20px;
                  padding: 2px;
                  /* background-color only for content */
                  background-clip: content-box;
                  border: 2px solid #b7b7b7;
                  background-color: white;
                  border-radius: 50%;
                  transition: 0.2s ease-in-out;
                }

                /* appearance for checked radiobutton */
                input[type="radio"]:checked {
                  background-color: #8358e8;
                  border: 2px solid #c8b1ff;
                }
              }
            }

            .cards {
              width: 83%;
              margin-top: 2rem;
              display: -ms-grid;
              display: grid;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -ms-grid-columns: (minmax(20em, 1fr)) [auto-fit];
              grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
              -ms-grid-rows: 1fr;
              grid-template-rows: 1fr;
              grid-column-gap: 0.5rem;
              grid-row-gap: 1rem;
              user-select: none;

              .add_card {
                background-color: #dfdfdf;
                height: 6rem;
                padding: 2rem;
                width: 8rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                cursor: pointer;

                p {
                  margin-top: 1rem;
                  color: #a7a7a7;
                  font-size: 1.1rem;
                  font-weight: 500;
                }
              }

              .add_card_adding {
                background-color: #8358e8;
                box-shadow: 0 3px 30px #8358e8;
                border-radius: 0.5rem;

                p {
                  color: white;
                }
              }
            }

            .adding_card_input {
              margin-top: 5rem;
              h3 {
                color: #343434;
                font-size: 1.4rem;
                font-weight: 500;
              }

              .adding_card_cards {
                margin-top: 2rem;
                position: relative;
                width: fit-content;

                label {
                  font-weight: 500;
                  color: #343434;
                  font-size: 1.1rem;
                }

                .back_card {
                  z-index: 2;
                  position: absolute;
                  background-color: #cbcbcb;
                  right: -8rem;
                  bottom: -3rem;
                  border-radius: 1rem;
                  width: 370px;
                  height: 200px;

                  .dark_line {
                    position: absolute;
                    left: 0;
                    top: 1.5rem;
                    width: 100%;
                    height: 2rem;
                    background-color: #636363;
                  }

                  .cvv_input {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);

                    label {
                      color: #878787;
                    }

                    .input {
                      margin-top: 0.5rem;
                      border: 1px solid #707070;
                      border-radius: 0.5rem;
                      padding: 0.1rem;
                      display: flex;
                      align-items: center;
                      background-color: white;

                      input {
                        width: 2rem;
                        padding: 0.25rem;
                        border: none;
                        outline: none;
                      }
                    }
                  }
                }

                .front_card {
                  position: relative;
                  z-index: 2;
                  background-color: #f3f3f3;
                  padding: 2rem 2rem 2rem 1rem;
                  width: fit-content;
                  border-radius: 1rem;

                  input {
                    margin-top: 0.5rem;
                    border: 1px solid #707070;
                    border-radius: 0.5rem;
                    padding: 0.4rem;
                  }

                  .card_image {
                    position: absolute;
                    right: 1.5rem;
                    top: 1.5rem;
                  }

                  .number_input {
                    .input {
                      margin-top: 0.5rem;
                      display: flex;
                      align-items: center;
                      width: 100%;

                      input {
                        margin-top: 0;
                        margin-right: 0.5rem;
                        width: 90%;
                      }

                      img {
                        width: 1.8rem;
                      }
                    }
                  }

                  .bottom_inputs {
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    place-content: space-between;

                    .expiration_input {
                      width: 40%;
                      .expiration_inputs {
                        display: flex;
                        align-items: center;
                        place-content: space-between;
                        width: 85%;
                        input {
                          width: 2rem;
                        }
                      }
                    }

                    .zip_input {
                      width: 30%;
                      display: flex;
                      flex-direction: column;
                    }
                  }
                }
              }

              .remember_card {
                margin-top: 4rem;

                label {
                  font-weight: 500;
                  color: #343434;
                  font-size: 1rem;
                  margin-left: 0.5rem;
                }
              }
            }
          }
        }

        .order_summary {
          .order_summary_main {
            .order_summary_row {
              margin-top: 3rem;
              display: flex;
              align-items: flex-start;
              place-content: space-between;
              width: 60%;

              .order_summary_bill {
                display: flex;
                flex-direction: column;
                .quizzy_card_redeem {
                  margin-top: 1rem;
                  p {
                    color: #7d7d7d;
                    font-size: 1rem;
                    font-weight: 500;
                    margin: 0;
                    margin-bottom: 0.5rem;
                  }

                  .redeem_input {
                    margin: 0.5rem 0;
                    input {
                      border: 1px solid #707070;
                      border-radius: 0.3rem;
                      padding: 0.4rem;
                      width: 17rem;
                    }

                    button {
                      margin-top: 0;
                      font-size: 0.8rem;
                      padding: 0.5rem 1.2rem;
                      margin-left: 1rem;
                    }
                  }
                }

                h4 {
                  font-size: 1.3rem;
                  font-weight: 500;
                  color: black;
                  margin: 0;
                }

                p {
                  color: #7d7d7d;
                  font-size: 0.9rem;
                  margin: 0.5rem 0;
                }

                h3 {
                  font-weight: bold;
                  color: #0f0f0f;
                  font-size: 1.3rem;
                  margin: 0;
                }

                .change {
                  color: #b1b1b1;
                  margin: 0.5rem 0;
                  text-decoration: none;
                  font-size: 1.2rem;
                  cursor: pointer;
                }

                button {
                  margin-top: 1.5rem;
                  font-size: 1.1rem;
                  font-weight: 500;
                  padding: 0.8rem 3rem;
                  background-color: #8358e8;
                  box-shadow: 0 0 25px #8358e8;
                  border: none;
                  color: white;
                  border-radius: 0.5rem;
                  cursor: pointer;
                }
              }

              .order_summary_name {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                  color: #545454;
                  font-size: 0.9rem;
                  margin-bottom: 0.5rem;
                }

                .user {
                  background-color: rgba(225, 213, 255, 0.23);
                  display: flex;
                  align-items: center;
                  padding: 1.5rem 3.5rem;
                  border-radius: 1.5rem;

                  img {
                    width: 3.2rem;
                  }

                  p {
                    margin: 0 0.5rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                  }

                  .user_plan {
                    margin: 0;
                    font-size: 1rem;
                    color: white;
                    border-radius: 0.5rem;
                    padding: 0.2rem 0.5rem;
                    background: rgb(255, 255, 255);
                    background: radial-gradient(
                      circle,
                      rgba(192, 165, 255, 1) 0%,
                      rgba(98, 69, 165, 1) 100%
                    );
                    box-shadow: 0 0 15px #8358e8;
                  }
                }
              }
            }
          }
        }
      }

      .order {
        width: 25%;
        padding: 1rem;
        background-color: white;
        box-shadow: 0 0 10 rgba(0, 0, 0, 0.13);
        border-top: 1rem solid #8358e8;

        .title {
          padding-bottom: 1rem;
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(112, 112, 112, 0.24);

          h2 {
            margin-left: 0.5rem;
            font-size: 1.3rem;
          }
        }

        .product_details,
        .coupon,
        .total {
          padding: 1rem 0;
          display: flex;
          align-items: center;
          place-content: space-between;

          h3 {
            color: #9a9a9a;
            font-weight: 500;
            font-size: 1.1rem;
          }

          .totalText {
            color: #2d2d2d;
            font-weight: 500;
          }

          .price {
            color: #404040;
            font-size: 1.3rem;
            font-weight: 500;
          }

          .discount {
            color: #4fd283;
            font-size: 1.3rem;
            font-weight: 500;
          }
        }

        p {
          margin: 0;
          color: #9a9a9a;
          font-size: 1rem;
        }

        .coupon {
          border-bottom: 1px solid rgba(112, 112, 112, 0.24);
        }

        .total_savings {
          display: flex;
          align-items: center;
          place-content: space-between;
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: rgba(119, 255, 173, 0.3);

          p {
            color: #1fb95d;
          }

          .price {
            color: #4fd283;
            font-size: 1.3rem;
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }
  }
}
