.recall_progress {
  width: 97%;
  margin: 4rem auto;

  .bar_w_borders {
    display: flex;
    align-items: center;
    height: 4rem;

    .border {
      height: 100%;
      width: 1px;
      background-color: #707070;
    }

    .bar {
      width: 100%;
      height: 100%;
      position: relative;

      .bg {
        position: absolute;
        background-color: #707070;
        height: 1px;
        width: 100%;
        top: 50%;
      }

      .bar_completed {
        position: absolute;
        height: 1.5rem;
        border-radius: 0 0.75rem 0.75rem 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .labels {
    width: 100%;
    display: flex;
    align-items: center;
    place-content: space-between;
    position: relative;
    margin-top: 1.5rem;

    .label {
      position: absolute;
      text-align: center;
      width: fit-content;

      p {
        font-size: 1.4rem !important;
        font-weight: 500;
        color: #7b7b7b;
        margin-top: 0 !important;
      }
    }

    .label_0 {
      left: -1%;
    }
    .label_25 {
      left: 23.5%;
    }
    .label_50 {
      left: 48.5%;
    }
    .label_75 {
      left: 73.5%;
    }
    .label_100 {
      left: 98.5%;
    }
  }
}
